###### Machine Learning With Python: Linear Regression Multiple Variables
Sample problem of predicting home price in Banglore, India

Below is the table containing home prices in Banglore, India Here price depends on area (square feet), bed rooms and age of the home (in years). Given these prices we have to predict prices of new homes based on area, bed rooms and age.




Given these home prices find out price of a home that has,

3000 sqr ft area, 3 bedrooms, 40 year old

2500 sqr ft area, 4 bedrooms, 5 year old

We will use regression with multiple variables here. Price can be calculated using following equation,




Here area, bedrooms, age are called independant variables or features whereas price is a dependant variable

In [10]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [11]:
#hf=pd.read_csv('F:/Machine Learning/ML Material/Code/Multiple Linear Regression/homeprices_multiple.csv')
hf=pd.read_csv('price_multi.csv')
hf

   area  bedrooms  age   price
0  2800       3.0   19  560000
1  3100       4.0   16  585000
2  3300       NaN   19  625000
3  3900       3.0   30  585000
4  4100       6.0    8  810000

In [21]:
import math
median_bedrooms=math.floor(hf.bedrooms.median())
median_bedrooms

3

In [24]:
hf.bedrooms=hf.bedrooms.fillna(median_bedrooms)

In [25]:
hf

   area  bedrooms  age   price
0  2800       3.0   19  560000
1  3100       4.0   16  585000
2  3300       3.0   19  625000
3  3900       3.0   30  585000
4  4100       6.0    8  810000

In [28]:
x=hf.drop('price',axis=1)
price=hf.price
price

0    560000
1    585000
2    625000
3    585000
4    810000
Name: price, dtype: int64

In [31]:
multi=linear_model.LinearRegression()
multi.fit(hf[['area','bedrooms','age']],hf.price)
#multi.fit(x,price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
multi.coef_

array([   171.6215348 , -37647.12023385, -13617.29465806])

In [33]:
multi.intercept_

436239.19886929425

In [35]:
multi.predict([[3000,3,5]])

array([770075.96929106])

Exercise

In exercise folder (same level as this notebook on github) there is salary.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2.5 yr experience, 10 test score, 7 interview score

13 yr experience, 11 test score, 11 interview score

Answer

53713.86 and 93747.79